@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #15b9d9;
  --color-primary-50: #e6f9fc;
  --color-primary-100: #b3eff7;
  --color-primary-200: #80e6f3;
  --color-primary-300: #4ddcec;
  --color-primary-400: #26d0e3;
  --color-primary-500: #15b9d9;
  --color-primary-600: #1093ac;
  --color-primary-700: #0c6c80;
  --color-primary-800: #084653;
  --color-primary-900: #032027;
  --color-secondary: #efa286;
  --text-white: #faf9fb;
  --text-gray: #8d8d8d;
  --text-black: #202135;
  --font-family-1: "Open Sans", sans-serif;
  --font-family-2: "Playfair Display", serif;
  ;
}

body {
  font-family: var(--font-family-1);
  overflow-x: hidden;

}

#root {
  position: relative;
}